html {
    scroll-behavior: smooth;
}
.addnavbarshadow {
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.10);
}
.navbar-height {
    height: 90px;
    background-color: white;
}
.top-info {
    background-color: #f5f5f5;
    height: 40px;
    z-index: 1;
}
.footer-style {
    background-color: #262626;
    height: 432px;
}
.myfixed {
    position: fixed;
    top:0; left:0;
    width: 100%;
}
.navbar-text-style {
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    color: #777777;
    padding: 20px;
    background-color: inherit;
    white-space: nowrap;

}
.mydropdown a:hover {
    color: #1cbac8;
    text-decoration: none;
}
.active-menu-color {
    color: #1cbac8;
}
.mydropdown {
    height: 90px;
    margin-top: 65px;
}
.dropdown-content {
    display: none;
    background-color: black;
    position: absolute;
    margin-top: 33px;
    z-index: 1;
    width: 200px;
}
.dropdown-content a {
    display: block;
    color: gray;
    font-size: 13px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}



.mydropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    color: white;
}
.dropdown-content-item {
    border-bottom: 1px solid rgba(235, 235, 235,0.18);
}
.dropdown-content a:active{
    color: white;
}
.dropdown-content-item-active {
    color: white;
}
.search-icon-header {
    color: #bbbbbb;
}
.search-icon-header:hover {
    color: #777777;
    cursor: pointer;
}
.navbar-vertical-line {
    width: 1px;
    height: 30px;
    background-color: #e8e8e8;
    margin-right: 20px;
}
.header-search-input {

}
.form-control {
    border: 0;
    height: 70px;
    font-size: 40px;
    color: #666666;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    text-rendering: auto;
}
.form-control:focus {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.card {
    border: 0;
}
.product-img {
    opacity: 0.1;
    transition: .6s ease;
    /*transition: all .2s ease-in-out;*/
    transform: scale(1.2,1.2);
}

.product-card {
    margin-top: 30px;
}
.product-card-hover {
   background-color: #1cbac8;
    cursor: pointer;
}

.box8 .icon,.box8 .title{margin:0;position:absolute;}
.box8{box-shadow:0 0 3px rgba(0,0,0,.3);position:relative; padding: 8px;}
.box8 img{width:100%;height:auto}
.box8 .box-content{width:100%;height:100%;background:rgba(0,0,0,.6);opacity:0;position:absolute;top:0;left:0;transform:perspective(400px) rotateX(-90deg);transform-origin:center top 0;transition:all .5s ease 0s}
.box8 .icon li a,.box8 .title{background:#1cbac8;font-size:20px;color:#fff}
.box8:hover .box-content{opacity:1;transform:perspective(400px) rotateX(0)}
.box8 .title{padding:5px 7px;border-radius:5px;font-weight:600;bottom:20px;left:20px;transition:all .9s ease 0s}
.box8 .icon li a,.box9 .box-content,.box9 .icon li,.box9 img{transition:all .35s ease 0s}
.box8:hover .title{bottom:-100px; display: none;}
.box8 .icon{list-style:none;padding:0;top:42%;left:40%;right:0}
.box8 .icon li a{display:block;width:60px;height:60px;line-height:40px;border-radius:50%;margin-right:7px}
.box9 .icon,.box9 .title{width:100%;font-size:22px}
.box8 .icon li a:hover{background:#fff;color:#000}
@media only screen and (max-width:990px){.box8{margin-bottom:20px}
}
.btn-cart-qty {
    border: 1px solid whitesmoke; width: 40px; background-color: whitesmoke;
}
.btn-cart-qty:hover {
    cursor: pointer;
    /*background-color: #1cbac8;*/
}
.btn-cart-qty:focus {
    outline: 0px;
}
.btn-cart-qty:active {
    background-color: #1cbac8;
}
.btn-add-2-cart {
    height: 38px;
    background-color: black;
    /*margin-left: 20px;*/
    color: white;
    width: 130px;
    border-radius: 5px;
}
.btn-add-2-cart:active {
    background-color: #1cbac8;
}
.btn-add-2-cart:hover {
    cursor: pointer;
    background-color: #1cbac8;
}
.btn-add-2-cart:focus {
    outline: 0px;
}
.select-color {
    height: 38px; width: 285px;
}
.select-color:focus {
    outline: 0px;
}
.active-pro-img {
    border: 1px solid red;
}

.no-border-focus:focus {
    outline: 0px;
}
.active-pagination {
    background-color: #1cbac8;
    color: white;
}
.active-pagination:focus{
    color: white;
}
.pagination > li > a {
    color: #777777;;
}
.page-link:focus {
    outline: none !important;
    box-shadow: none;
}
.page-link:hover {
    color: white;
    background-color: #1cbac8;
}
.btn-pagination {
    background-color: white;
    border: 1px solid #ebebeb;
    color: #777777;;
}
.btn-pagination:hover {
    color: #1cbac8;
}
.btn-pagination:focus {
    outline: none !important;
    box-shadow: none;
}
.btn-pagination:active {
    background-color: #1cbac8;
    color: white;
}

.pro-category {
    list-style-type: none;
    margin-top: 40px;
}
.category-item, .category-slash {
    float: left;
    padding: 5px;
    color: #777777;
}
.category-item:hover {
    cursor: pointer;
    color: #1cbac8;
}
.android-link {
    color: #777777;;
}
.android-link:hover {
    color: #1cbac8;
}

.custom-badge {
    font-size: 10px; width: 16px; height: 16px; border-radius: 8px;
    position: absolute;
    top: 27px;
}
.remove-cart-icon {
    color: #c4c4c4;
}
.remove-cart-icon:hover {
    cursor: pointer;
    color: #777777;
}


input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #1cbac8;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.back-to-top {
    cursor: pointer;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0px;
    right: 20px;
    display:none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 42px;
    height: 36px;
    text-align: center;
}
.back-to-top:hover {
    background-color: #1cbac8;
    color: white;
}


.modal.fade .modal-dialog {
.translate(0, 0);
}



.product-color {
    width: 150px; border: 1px solid lightgray; cursor: pointer;  display: inline-block; border-radius: 3px; text-align: center; margin: 10px;
}
.product-size {
    width: 150px; border: 1px solid lightgray; cursor: pointer;  display: inline-block; border-radius: 3px; text-align: center; margin: 10px;
}



.btn-checkout {
    background-color: black; color: white;
}
.btn-checkout:hover {
    background-color: #1cbac8;
}



.default-pickup-location {
    padding: 10px;

    margin-top: 10px;
    cursor: pointer;
}
.active-pickup-location {
    background-color: whitesmoke;
    border-radius: 5px;
}


::selection {
    color: white;
    background: #1cbac8;
}
