.container-fluid {
    padding-top: 30px;
    margin-bottom: 30px;
}

.text {
    width: 100%;
    height: 40px;
}
.pd-bottom {
    padding-bottom: 10px;
}
.your-order {
    padding-top: 60px;
}
.prod {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: whitesmoke;
}

#customers {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    /*border: 1px solid red;*/
    padding: 8px;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: whitesmoke;
    color: black;
}
.header-top-link:hover {
    cursor: pointer;
    background-color: whitesmoke;
}
